djitellopy~=2.4.0
opencv-python~=4.6.0.66
cffi~=1.15.0
PyQt5~=5.15.6
Pillow~=9.1.0
ipython~=8.5.0
olefile~=0.46
numpy~=1.22.0
pip~=21.3.1
cryptography~=36.0.0
lxml~=4.7.1
tornado~=6.2
h5py~=3.7.0
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
Jinja2~=3.1.2
click~=8.0.4
itsdangerous~=2.1.2
setuptools~=59.6.0
pytz~=2022.2
scipy~=1.9.1
matplotlib~=3.6.0
imageai~=2.1.5
six~=1.16.0
python-dateutil~=2.8.2
contourpy~=1.0.5
fonttools~=4.37.3
pyparsing~=2.4.7
cycler~=0.11.0
packaging~=21.3
PyGObject~=3.42.1
ipykernel~=6.15.3
kiwisolver~=1.4.4
Flask~=2.2.2
