html, body {
    font-family: sans-serif;
    line-height: 1.5;
}
button {
    display: inline-block;
}

/* CSS voor tailwind. */

.gray {
  background-color: gray;
}

.white {
  background-color: white;
}

.font-bold {
  font-weight: 700;
}

.rounded {
  border-radius: 0.25rem;
}

.grid.grid-cols-3.gap-1 {
    height: 100vh;
}

.mx-auto {
    max-width: 500px;
    margin: 0%;
    padding: 0%;
}

/* CSS voor tailwind. */