<!DOCK-TYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drone control centre</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> <!-- Tailwind plugin -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
<div class="gray px-1 py-1">
    <div class="grid grid-cols-3 gap-1">
        <div class="white row-span-2 px-6 pb-8 rounded">
            <h3 class="font-bold mb-2 my-2 py-2 text-4xl">Commands</h3> <!-- Hier komen de commands voor de drone. -->
            <button id="connect">Connect</button>
            <br>
            <button id="customcommand">Takeoff</button>
            <br>
            <button id="">Land drone</button>
            <br>
            <button id="">Abort drone</button>
            <br>
            <button id="">Return drone</button>
            <br>
            <button id="">Fly route</button>
            <br>
        </div>
        <div class="white col-span-2 px-6 pb-20 rounded">
            <h3 class="font-semibold text-lg mb-2">Drone POV</h3> <!-- Hier komt de POV van de drone. -->
            <!-- POV -->
        </div>
        <div class="white col-span-2 px-6 pb-20 rounded">
            <h3 class="font-semibold text-lg mb-2">Drone Controles</h3> <!-- Hier komt de controles van de drone. -->
            <button id="">Fly a circle</button>
            <button id="">Do a Flip</button>
        </div>
        <div class="white col-span-3 px-6 pb-20 rounded">
            <h3 class="font-semibold text-lg mb-2">Drone Statistics</h3>
            <button id="get_stats">get stats</button>
            <div id="show_stats"><!-- Show stats --></div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>

<script type=text/javascript>
    $('#get_ss').click(function () { // Button
        $('#get_ss').addClass('is-loading');
        $.ajax({
            url: '/dronetakeoff',
            type: 'POST',
            success: function (response) {
                $('#show_ss').html(response);
                $('#get_ss').hide();
            }
        });
    });
</script>

<script type=text/javascript>
    $('#get_stats').click(function () { // Button
        $('#get_stats').addClass('is-loading');
        $.ajax({
            url: '/stats',
            type: 'POST',
            success: function (response) {
                $('#show_stats').html(response);
                $('#get_stats').hide();
            }
        });
    });
</script>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
</body>
</html>