<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drone control centre</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
<main>
  <section id="about">
    <h1>Drone control application</h1>
    <p>Use the buttons to send commands to the Drone.</p>
  </section>
  <section>
    <button id="get_ss">Take off drone</button>
    <button id="get_ss">Take off drone</button>
    <div id="show_ss"><!-- Show ss --></div>
  </section>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
</main>

<script type=text/javascript>
    $('#get_ss').click(function() { // Button
      $('#get_ss').addClass('is-loading');
      $.ajax({
        url: '/dronetakeoff',
        type: 'POST',
        success: function(response) {
          $('#show_ss').html(response);
          $('#get_ss').hide();
        }
      });
    });
  </script>
</body>

</html>
